@mixin display_flex($direccion, $principal, $secundaria) {
  display: flex;
  flex-direction: $direccion;
  justify-content: $principal;
  align-items: $secundaria;
}
@mixin display_grid($minimo, $relleno) {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($minimo, 1fr));
  grid-template-rows: 1fr;
  grid-gap: $relleno;
}
@mixin fente_dispositivo_h1($movil: true) {
  @if $movil {
    @include tamano_h1_movil();
  } @else {
    @include estilo_texto();
  }
}
@mixin fente_dispositivo_h2($movil: true) {
  @if $movil {
    @include tamano_h2_movil();
  } @else {
    @include tamano_h2_escritorio();
  }
}
@mixin fente_dispositivo_h3($movil: true) {
  @if $movil {
    @include tamano_h3_movil();
  }
}
@mixin fente_dispositivo_h4($movil: true) {
  @if $movil {
    @include tamano_h4_movil();
  } @else {
    @include tamano_h4_escritorio();
  }
}
@mixin fente_dispositivo_h5($movil: true) {
  @if $movil {
    @include tamano_h5_movil();
  } @else {
    @include tamano_h5_escritorio();
  }
}
@mixin fente_dispositivo_h6($movil: true) {
  @if $movil {
    @include tamano_h6_movil();
  } @else {
    @include tamano_h6_escritorio();
  }
}
@mixin fente_dispositivo_p($movil: true) {
  @if $movil {
    @include tamano_p_movil();
  } @else {
    @include tamano_p_escritorio();
  }
}
@mixin fente_dispositivo_reseña($movil: true) {
  @if $movil {
    @include tamano_reseña_movil();
  } @else {
    @include tamano_reseña_escritorio();
  }
}
@mixin fente_dispositivo_a($movil: true) {
  @if $movil {
    @include tamano_a_movil();
  } @else {
    @include tamano_a_escritorio();
  }
}
@mixin fente_dispositivo_label($movil: true) {
  @if $movil {
    @include tamano_label_movil();
  } @else {
    @include estilo_texto();
  }
}

@mixin estilo_texto($negrita, $tamano, $interlineado, $decoracion, $color) {
  font-weight: $negrita;
  font-size: $tamano;
  line-height: $interlineado;
  text-decoration: $decoracion;
  color: $color;
}
@mixin escritorio_contenedor {
  @media screen and(min-width:50em) {
    #encabezado,
    #bienvenido,
    #servicios,
    #habilidades,
    #equipo,
    #lider,
    #pie_pagina {
      padding: 0.5em 5em;
    }
  }
}
@mixin escritorio_encabezado {
  @media screen and(min-width:37.5rem) {
    position: static;
    span {
      display: none;
    }
    div:nth-child(1) {
      flex-basis: 20%;
    }
    .navegacion {
      flex-basis: 80%;
      margin-top: 0;
      display: block;
      ul {
        @include display_flex(row, flex-end, center);
        & > li + li {
          margin-top: 0;
        }
        li {
          margin-right: 1rem;
          a {
            color: #333333;
            transition: font-weight, 0.25s ease-in-out;
            &:hover {
              font-weight: bolder;
            }
          }
        }
      }
    }
  }
}
@mixin escritorio_bienvenido {
  @media screen and(min-width:37.5rem) {
    .contenido,
    .formulario {
      width: calc(100% - 15% - 5em);
      margin-left: 15%;
    }
  }
}
@mixin escritorio_servicios {
  @media screen and(min-width:60rem) {
    .funcion {
      @include display_flex(row, space-between, center);
      & > div + div {
        margin-top: 0;
      }
      div {
        flex-basis: calc(100% - 1.5rem);
        margin-left: 1.5rem;
      }
      a {
        width: 60%;
      }
    }
  }
}
@mixin escritorio_equipo {
  @media screen and(min-width:37.5rem) {
    @include display_flex(row, space-between, center);
    .personas {
      flex-basis: 50%;
    }
    .descripcion {
      flex-basis: 30%;
    }
  }
}
@mixin escritorio_lider {
  @media screen and(min-width:37.5rem) {
    figure {
      img {
        width: 10%;
      }
    }
  }
}
@mixin escritorio_pie_pagina {
  @media screen and(min-width:60rem) {
    .contacto {
      @include display_flex(row, space-around, center);
    }
    .navgacion_pie_pagina,
    .redes_sociales,
    .formulario {
      flex-basis: 30%;
    }
  }
}
@mixin escritorio_globales {
  @media screen and(min-width:62.5em) {
    a {
      @include fente_dispositivo_a(false);
    }
    h1 {
      @include fente_dispositivo_a(false);
    }
    h2 {
      @include fente_dispositivo_h2(false);
    }
    h5 {
      @include fente_dispositivo_h5(false);
    }
    h4 {
      @include fente_dispositivo_h4(false);
    }
    h6 {
      @include fente_dispositivo_h6(false);
    }
    p {
      @include fente_dispositivo_p(false);
    }
    .reseña {
      @include fente_dispositivo_reseña(false);
    }
  }
}
