#equipo {
  .descripcion {
    h5 {
      color: #eb5757;
    }
  }
  figure {
    padding: 0.25em;
  }
  .personas {
    @include display_flex(row, stretch, center);
  }
  @media screen and(min-width:50em) {
    @include display_flex(row, space-between, center);
    .personas {
      flex-basis: 50%;
    }
    .descripcion {
      flex-basis: 30%;
    }
  }
}
