@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo&display=swap");
:root {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  color: black;
  border: none;
  outline: none;

  --color_pie_pagina: #100e1d;
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
  color: inherit;
  list-style: inherit;
  text-decoration: inherit;
  border: inherit;
  outline: inherit;
}
html {
  scroll-behavior: smooth;
}
img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 18px;
}
h1,
h2,
h3,
h4,
h5,
h6,
figcaption,
a {
  text-transform: capitalize;
}
h1 {
  font-family: "Heebo", sans-serif;
  @include fente_dispositivo_h1(true);
}
h2 {
  @include fente_dispositivo_h2(true);
}
h3 {
  font-family: "Heebo", sans-serif;
  @include fente_dispositivo_h3(true);
}
h4 {
  @include fente_dispositivo_h4(true);
}
h5 {
  @include fente_dispositivo_h5(true);
}

h6 {
  @include fente_dispositivo_h6(true);
}

p {
  @include fente_dispositivo_p(true);
}
a {
  @include fente_dispositivo_a(true);
}
label {
  @include fente_dispositivo_label(true);
}
.reseña {
  @include fente_dispositivo_reseña(true);
}
@include escritorio_globales();
@keyframes aparecePagina {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }

  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
