#pie_pagina {
  background-color: var(--color_pie_pagina);
  a,
  p {
    text-transform: capitalize;
    color: #ffffff;
    text-align: center;
    img {
      border-radius: 0;
    }
  }
  .redes_sociales {
    ul {
      @include display_flex(row, flex-start, center);
      & > li + li {
        margin-top: 0;
        margin-left: 1rem;
      }
    }
    h1 {
      @include estilo_texto(800, 36px, 53px, none, #f2f2f2);
    }
  }
  .derecho_autor {
    margin-top: 5rem;
  }
  @media screen and(min-width:50em) {
    .contacto {
      @include display_flex(row, space-around, center);
    }
    .navgacion_pie_pagina,
    .redes_sociales,
    .formulario {
      flex-basis: 30%;
    }
  }
}
