/* 36/16 */
/*52.88/16*/
/* 24/16 */
/* 36/16*/
/*36/16*/
/*54/16*/
/* 18/16 */
/* 27/16*/
/*24/16*/
/*36/16*/
/* 16/16 */
/* 24/16*/
/*18/16*/
/*27/16*/
/* 14/16 */
/* 21/16*/
/*18/16*/
/*27/16*/
/* 12/16 */
/* 18/16*/
/*14/16*/
/*21/16*/
/* 10/16 */
/* 15/16*/
/*14/16*/
/*21/16*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap");
@keyframes aparece_sitio {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

:root {
  /*
movil:(x=375,6169)
escritorio:(x=1440,5835)
*/
  --color_primario_azul: #2d9cdb;
  --color_secundario_rojo: #eb5757;
  --color_secundario_gris_100: #333333;
  --color_secundario_gris_200: #4f4f4f;
  --color_secundario_gris_300: #828282;
  --color_secundario_gris_400: #bdbdbd;
  --color_secundario_gris_500: #e0e0e0;
  --color_secundario_gris_600: #f2f2f2;
  --color_secundario_oscuro: #100e10;
  --color_secundario_oscuro_100: #100e1d;
  --color_secundario_verder: #27ae60;
  --color_secundario_blanco: #fff;
  --tamano_titulo_1: 2.25rem;
  --interlineado_titulo_1: 3.3rem;
  --tamano_titulo_2: 1.5rem;
  --interlineado_titulo_2: 2.25rem;
  --tamano_titulo_3: 1.12rem;
  --interlineado_titulo_3: 1.68rem;
  --tamano_titulo_4: 1rem;
  --interlineado_titulo_4: 1.5rem;
  --tamano_normal: 0.87rem;
  --interlineado_normal: 1.31rem;
  --tamano_pequeno: 0.75rem;
  --interlineado_pequeno: 1.12rem;
  --tamano_muy_pequeno: 0.75rem;
  --interlineado_muy_pequeno: 1.12rem;
  --relleno_home: 0.81rem 0.62rem;
  /* 13/16 10/16 */
  --relleno_estandar: 0 2.5rem;
  /* 40/16 */
  --border_radius_estandar: 0.75rem;
  /*12/16*/
  --ancho_maximo: 90rem;
  /*1440/16*/
  box-sizing: border-box;
  font-family: "";
}
@media screen and (min-width: 37.5rem) {
  :root {
    --tamano_titulo_2: 2.25rem;
    --interlineado_titulo_2: 3.37rem;
  }
}
@media screen and (min-width: 37.5rem) {
  :root {
    --tamano_titulo_3: 1.5rem;
    --interlineado_titulo_3: 2.25rem;
  }
}
@media screen and (min-width: 37.5rem) {
  :root {
    --tamano_titulo_4: 1.12rem;
    --interlineado_titulo_4: 1.68rem;
  }
}
@media screen and (min-width: 37.5rem) {
  :root {
    --tamano_normal: 1.12rem;
    --interlineado_normal: 1.68rem;
  }
}
@media screen and (min-width: 37.5rem) {
  :root {
    --tamano_pequeno: 0.87rem;
    --interlineado_pequeno: 1.31rem;
  }
}
@media screen and (min-width: 37.5rem) {
  :root {
    --tamano_muy_pequeno: 0.87rem;
    --interlineado_muy_pequeno: 1.31rem;
  }
}
@media screen and (min-width: 60rem) {
  :root {
    --relleno_home: 3.18rem 3.5rem;
    /*51/16 56/16*/
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}

.titulo_1 {
  font-weight: 800;
  font-size: var(--tamano_titulo_1);
  line-height: var(--interlineado_titulo_1);
  color: var(--color_secundario_gris_100);
}

.titulo_2 {
  font-weight: 700;
  font-size: var(--tamano_titulo_2);
  line-height: var(--interlineado_titulo_2);
  color: var(--color_secundario_gris_100);
}

.titulo_3 {
  font-weight: 700;
  font-size: var(--tamano_titulo_3);
  line-height: var(--interlineado_titulo_3);
  color: var(--color_secundario_gris_100);
}

.titulo_4 {
  font-weight: normal;
  font-size: var(--tamano_titulo_4);
  line-height: var(--interlineado_titulo_4);
  color: var(--color_secundario_gris_200);
}

.normal {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: var(--tamano_normal);
  line-height: var(--interlineado_normal);
  color: var(--color_secundario_gris_400);
}

.pequeno {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: var(--tamano_pequeno);
  line-height: var(--interlineado_pequeno);
  color: var(--color_secundario_gris_100);
}

.muy_pequeno {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: var(--tamano_muy_pequeno);
  line-height: var(--interlineado_muy_pequeno);
  color: var(--color_secundario_gris_100);
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  z-index: 1;
}

img {
  max-width: 100%;
  object-fit: cover;
}

a {
  display: inline-block;
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

input {
  border: none;
  background-color: transparent;
  outline: none;
}

.icono {
  color: var(--color_secundario_gris_300);
}

.icono_editar {
  background-color: var(--color_primario_azul);
}

.icono_codigo {
  background-color: var(--color_secundario_verder);
}

.icono_menu {
  background-color: var(--color_secundario_rojo);
}

.enlace {
  padding: 12px 35px;
  border: 1px solid var(--color_secundario_azul);
  border-radius: 0.75rem;
  background-color: var(--color_secundario_gris_500);
  text-transform: capitalize;
  text-align: center;
}

.activo {
  background-color: var(--color_secundario_azul);
}

.etiqueta,
.cuadro_texto {
  color: var(--color_secundario_gris_300);
  min-width: 0;
}

.boton {
  padding: 0.68rem 1.31rem;
  /* 11/16  21/16 */
  background-color: var(--color_primario_azul);
  color: var(--color_secundario_blanco);
  border: none;
  border-radius: var(--border_radius_estandar);
  min-width: 0;
}

.titulo {
  font-family: "Poppins";
  font-style: normal;
  text-transform: capitalize;
}

.cabecera {
  padding: var(--relleno_home);
  position: sticky;
  top: -1px;
  background-color: var(--color_secundario_blanco);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.cabecera .titulo_1 {
  font-weight: 500;
}
.cabecera .titulo_2 {
  width: 69.06%;
  /*(259/375) * 100*/
  font-weight: 800;
}
.cabecera .titulo_3 {
  color: var(--color_secundario_rojo);
  font-weight: 500;
}
.cabecera .navegacion_cabecera {
  height: auto;
  display: none;
}

@media screen and (min-width: 60rem) {
  .cabecera .navegacion_cabecera {
    display: block;
  }
  .cabecera .icono_cabecera {
    display: none;
  }
}

.navegacion {
  position: fixed;
  width: 100%;
  top: calc((0.82rem + 1rem) * 2);
  left: 0;
  height: calc(100vh - ((0.81rem + 1rem) * 2));
  background-color: var(--color_primario_azul);
  transform: translateX(-100%);
  transition: transform 1s ease-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navegacion_movil_activo {
  transform: translateX(0);
}

@media screen and (min-width: 60rem) {
  .navegacion {
    display: none;
    position: static;
    transform: none;
    background-color: transparent;
  }
}

.bienvenido > * + * {
  margin-top: 0.5rem;
  /*8/16*/
}

.bienvenido .formulario_bienvenido {
  margin-top: 1.93rem;
  /*31/16*/
}

.conocimientos {
  margin-top: 6.37rem;
  /*102/16*/
}
.conocimientos > * + * {
  margin-top: 7.93rem;
  /*127/16*/
}
.conocimientos .cabecera_conocimientos {
  position: static;
  padding: 0;
}
.conocimientos .cabecera_conocimientos .titulo_2_cabecera {
  max-width: 24.02rem;
  /* (346/1440)*100 */
  font-weight: 500;
}

.especialidades > * + * {
  margin-top: 2.25rem;
  /* 36/16 */
}

.especialidades .cabecera_especialidades {
  padding: 0;
  position: static;
}
.especialidades .cabecera_especialidades .titulo_2_cabecera {
  max-width: 31.11rem;
  /* (448/1440)*100 */
}

.especialidades .enlace_especialidades {
  padding: 0;
  background-color: var(--color_secundario_blanco);
  color: var(--color_primario_azul);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.especialidades .enlace_especialidades .icono_enlace {
  margin-left: 0.5rem;
  /* 8/16 */
  color: inherit;
}

@media screen and (min-width: 50rem) {
  .especialidades .enlace_especialidades {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
}

.equipo .cabecera_equipo {
  max-width: 25.92rem;
  /* (280/1080)*100 */
  padding: 0;
  position: static;
  display: block;
}

.equipo .figura_equipo {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}
.equipo .figura_equipo > * + * {
  margin-left: 0.5rem;
  /* 8/16 */
}
.equipo .figura_equipo img,
.equipo .figura_equipo figure {
  min-width: 0;
  flex-basis: 50%;
}

@media screen and (min-width: 50rem) {
  .equipo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .equipo > * + * {
    margin-left: 1.5rem;
    /* 8/16 */
  }
  .equipo .cabecera_equipo {
    flex: 1 1 40%;
  }
  .equipo .figura_equipo {
    flex: 1 1 30%;
  }
}

.lider > * + * {
  margin-top: 1.12rem;
  /* 18/16 */
}

.lider .tutlo_2_lider {
  font-weight: 500;
}

.lider .figura_lider {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.lider .figura_lider > * + * {
  margin-left: 1rem;
  /* 16/16 */
}
.lider .figura_lider .imagen_figura {
  min-width: 0;
  flex: 1 1 50%;
}

@media screen and (min-width: 50rem) {
  .lider .figura_lider .imagen_figura {
    width: 19.58%;
    /* (282/1440) * 100 */
    flex: none;
  }
}

.pie_pagina {
  margin-top: 6.25rem;
  /* 100/16 */
  background-color: var(--color_secundario_oscuro_100);
  padding: 1.5rem 2.87rem;
  /* 24/16 46/16 */
}
.pie_pagina .parrafo_pie_pagina {
  margin-top: 9.62rem;
  /* 154/16 */
  text-align: center;
  color: var(--color_secundario_blanco);
}
.pie_pagina .parrafo_pie_pagina .enlace_parrafo {
  background-color: transparent;
  padding: 0;
  font-weight: bold;
  color: inherit;
}

.lista > * + * {
  margin-top: 1rem;
  /* 16/16 */
}

.lista .item_lista .enlace_item {
  padding: 0;
  font-weight: 500;
  background-color: transparent;
  color: var(--color_secundario_blanco);
}

@media screen and (min-width: 60rem) {
  .lista > * + * {
    margin-top: 0;
  }
  .lista .item_lista .enlace_item {
    color: var(--color_secundario_gris_100);
  }
}

.lista_nav_movil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.lista_nav_movil > * + * {
  margin-top: 1.5rem;
}

.lista_nav_escritorio {
  display: none;
}

@media screen and (min-width: 50rem) {
  .lista_nav_escritorio {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
  }
  .lista_nav_escritorio > * + * {
    margin-left: 1.5rem;
    /*24/16*/
  }
}

.portada .subtitulo_portada {
  margin-top: 3rem;
  /*48/16*/
  color: var(--color_primario_azul);
}

.portada .titulo_2_portada {
  margin-top: 1.37rem;
  /*22/16*/
  width: 75.53%;
  /* (272/375)*100 */
  font-weight: 500;
}

.portada .figura_portada {
  padding: 0 17px;
  margin-top: 0.93rem;
  /*15/16*/
}

@media screen and (min-width: 50rem) {
  .portada .titulo_2_portada {
    width: 37.7rem;
    /* (543/1440)*100 */
  }
}

.publicidad .titulo_2_publicidad {
  margin-top: 1.37rem;
  /*22/16*/
  width: 60.53%;
  /* (227/375)*100 */
  font-weight: 500;
}

.publicidad .parrafo_publicidad {
  margin-top: 2.06rem;
  /*33/16*/
}

@media screen and (min-width: 50rem) {
  .publicidad {
    width: 25.41rem;
    /* (366/1440) * 100 */
  }
}

@media screen and (min-width: 50rem) {
  .imagenes {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .imagenes > * + * {
    margin-left: 0.5rem;
  }
  .imagenes .figura {
    flex: 1 1 40%;
  }
  .imagenes .figura:nth-child(odd) {
    margin-top: 17.04rem;
    /* (188/1080)*100 */
  }
}

.figura > * + * {
  margin-top: 0.25rem;
  /* 4/16 */
}

.figura .imagen_figura {
  border-radius: 1.12rem;
  /*18/16*/
}

.formulario {
  min-width: 0;
  width: 100%;
}

.campo {
  width: 100%;
  padding: 0.25rem;
  /*4/16*/
  background-color: var(--color_secundario_gris_600);
  border-radius: var(--border_radius_estandar);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.campo .cuadro_texto_fila {
  flex: 1 2 80%;
}
.campo .boton_campo {
  flex: 2 1 auto;
}

.area > * + * {
  margin-top: 2.18rem;
  /*35/16*/
}

.area:nth-child(even) {
  background-color: var(--color_secundario_blanco);
  box-shadow: 0px 10px 30px rgba(51, 51, 51, 0.1);
  border-radius: 1.5rem;
  /*24/16*/
}
.area:nth-child(even) .enlace_area {
  background-color: var(--color_primario_azul);
  color: var(--color_secundario_blanco);
}

.area .icono_area {
  padding: 1.28rem;
  /*20.5/16*/
  border-radius: 1rem;
  /*16/16*/
  color: white;
}

@media screen and (min-width: 50rem) {
  .area {
    padding: 2.87rem 2.25rem;
    /* 46/16 , 36/16 */
  }
}

.habilidades > * + * {
  margin-top: 7.93rem;
  /*127/16*/
}

@media screen and (min-width: 50rem) {
  .habilidades_conocimientos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .habilidades_conocimientos > * + * {
    margin-top: 0;
    margin-left: 0.5rem;
    /* 8/16 */
  }
}

.detalle > * + * {
  margin-top: 0.25rem;
  /* 4/16 */
}

.detalle .titulo_3_detalle,
.detalle .titulo_2_detalle {
  font-weight: 500;
}

.redes_sociales .titulo_1_redes_sociales {
  color: var(--color_secundario_blanco);
}

.redes_sociales .lista_redes_sociales {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.redes_sociales .lista_redes_sociales > * + * {
  margin-left: 0.68rem;
  /* 11/16 */
  margin-top: 0;
}

@media screen and (min-width: 50rem) {
  .redes_sociales {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 40%;
  }
}

.contenido > * + * {
  margin-top: 4rem;
  /* 64/16 */
}

.contenido .lista_contenido .item_lista .enlace_item {
  color: var(--color_secundario_blanco);
}

@media screen and (min-width: 50rem) {
  .contenido {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .contenido > * + * {
    margin-top: 0;
  }
  .contenido .lista_contenido,
  .contenido .formulario_contenido {
    flex-basis: 30%;
    margin: 0;
  }
}

.home {
  margin: 0 auto;
  max-width: var(--ancho_maximo);
  animation: aparece_sitio 1s linear;
  padding: var(--relleno_estandar);
}
.home > * + * {
  margin-top: 6.25rem;
  /* 100/16 */
}
