#encabezado {
  width: 100%;
  position: sticky;
  top: 0em;
  z-index: 2;
  background-color: white;
  @include display_flex(row, space-between, center);

  .navegacion {
    display: none;
  }
  span {
    margin-top: 0;
    cursor: pointer;
  }
  div {
    width: 100%;
    @include display_flex(row, space-between, center);
  }
  @include escritorio_encabezado();
}
