@mixin escritorio_encabezado {
  @media screen and(min-width:37.5rem) {
    position: static;
    span {
      display: none;
    }
    div:nth-child(1) {
      flex-basis: 20%;
    }
    .navegacion {
      flex-basis: 80%;
      margin-top: 0;
      display: block;
      ul {
        @include display_flex(row, flex-end, center);
        & > li + li {
          margin-top: 0;
        }
        li {
          margin-right: 1rem;
          a {
            color: #333333;
            transition: font-weight, 0.25s ease-in-out;
            &:hover {
              font-weight: bolder;
            }
          }
        }
      }
    }
  }
}
