@media screen and(min-width:50rem) {
  .imagenes {
    @include display_flex(row, flex-start, flex-start);
    & > * + * {
      margin-left: 0.5rem /* 8/16 */;
    }
    flex-wrap: wrap;
    .figura {
      flex: 1 1 40%;
      &:nth-child(odd) {
        margin-top: 17.04rem; /* (188/1080)*100 */
      }
    }
  }
}
