.contenedor {
  animation: aparecePagina 1s ease-in;
  * + * {
    margin-top: 1.5rem;
  }
  #encabezado,
  #bienvenido,
  #servicios,
  #habilidades,
  #equipo,
  #lider,
  #pie_pagina {
    padding: 0.5em 1em;
  }
  @import "./encabezado/encabezado";
  @import "./bienvenido/bienvenido";
  @import "./servicios/servicios";
  @import "./habilidades/habilidades";
  @import "equipo/equipo";
  @import "./lider/lider";
  @import "./pie_pagina/pie_pagina";
  @import "./formulario";
  @import "./_nav_movil";
  @include escritorio_contenedor();
}
