.formulario {
  width: 100%;
  @include display_flex(column, flex-end, flex-start);
  label {
    display: block;

    text-transform: capitalize;
  }
  .mensaje {
    padding: 0.5em;
    background: #f2f2f2;
    border-radius: 12px;

    @include display_flex(row, space-between, center);

    input[type="email"] {
      width: 70%;
      text-transform: capitalize;
      background-color: #f2f2f2;
    }
    input[type="button"] {
      width: 20%;
      margin-top: 0;
      padding: 0.5em 1em;
      background: #2d9cdb;
      border-radius: 12px;
      @include estilo_texto(500, 18px, 27px, none, #f2f2f2);
    }
  }
}
